{% extends 'base.html' %}
{% block content %}
<div class="title border border-dark w-100 text-center">
  <h1>Home</h1>
  <h3>floorplan id:{{ currentFP.id }}</h3> 
</div>
{% if currentFP == 0 %}
    <!-- <p>empty</p> -->
    <a href="{% url 'floorplan_create'  %}" ><button  class="btn btn-lg mb-2 mb-md-0  btn-block "></button> <div class="circle">
    </div></a>
    <button type="button" class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block">
      <a href="{% url 'floorplan_index' %}" class="li-modal">Change Floorplans</a>
    </button>
    <div class="modal fade" id="theModal" tabindex="-1" aria-labelledby="floorPlanLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
{% else %}



{% for fp in currentFP.photo_set.all %}

<div class="flex">
  <div class="home-buttons">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ fp.url }}" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">{{fp.name}}</h5> -->
        <p class="card-text">most recent</p>
        <a href="{% url 'floorplan_details' currentFP.id %}" class="btn btn-primary">Most Recent Floorplan</a>
      </div>
    </div>


    {% endfor %}

    
    
    <button type="button" class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block">
      <a href="{% url 'floorplan_index' %}" class="li-modal">Change Floorplans</a>
    </button>
    <div class="modal fade" id="theModal" tabindex="-1" aria-labelledby="floorPlanLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'furniture_create' %}" ><button  class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block ">Add Furniture</button></a>
    </div>

  </div>
  {% endif %}


{% endblock %}