{% extends 'base.html' %}
{% block content %}
<div class="title border border-dark w-100 text-center">
  <h1>Home</h1>
  <h3>floorplan id:{{ currentFP.id }}</h3> 
</div>
{% if currentFP == 0 %}
    <!-- <p>empty</p> -->
    <a href="{% url 'floorplan_create'  %}" ><button  class="btn btn-lg mb-2 mb-md-0  btn-block "></button> <div class="circle">
    </div></a>
    <a href="{% url 'floorplan_index' %}" ><button  class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block ">Change Floorplan</button></a>
{% else %}
{% for fp in currentFP.photo_set.all %}
  <div class="home-buttons">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ fp.url }}" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">{{fp.name}}</h5> -->
        <p class="card-text">most recent.</p>
        <a href="{% url 'floorplan_details' currentFP.id %}" class="btn btn-primary">Most Recent Floorplan</a>
      </div>
    </div>


    {% endfor %}
    
    <a href="{% url 'floorplan_index' %}" ><button  class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block ">Change Floorplan</button></a>
    <a href="{% url 'furniture_create' %}" ><button  class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block ">Add Furniture</button></a>
    </div>
  {% endif %}
{% endblock %}