{% extends 'base.html' %}
{% block content %}
<div class="title border border-dark w-100 text-center">
  <h1>Home</h1>
  <h3>{{currentfp.id}}</h3> 
</div>

<div class="home-buttons">
<a href="" ><button  class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block ">Most Recent Floorplan</button></a>
<a href="{% url 'floorplan_index' %}" ><button  class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block ">Change Floorplan</button></a>
<a href="{% url 'furniture_create' %}" ><button  class="btn btn-lg mb-2 mb-md-0 btn-secondary btn-block ">Add Furniture</button></a>
</div>
{% endblock %}