<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="btn">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>
</html>