    <div class="modal-header">
        <h5 class="modal-title" id="signUpLabel">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Signup" class="btn">
        </form>
    </div>
    <div class="modal-footer">

    </div>