{% extends 'floorplan/floorplan_details_bg.html' %}

{% block content%}
<form action="" method="POST">
    {%csrf_token%}
    <div class="fp-form-delete-text">
        <h1>Delete FloorPlan</h1>
        <h4>Are you sure you want to delete <span>{{ object.name }}</span> ?</h4>
    </div>
    <div class="fp-form-submit-container">
        <button type="submit" class="fp-form-submit">Yes</button>
        <a href="{% url 'floorplan_details' object.id %}" id="cancel-delete">Cancel</a>
    </div>
</form>

{% endblock %}