{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'jquidragcollide/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'jquidragcollide/ui/jquery.ui.core.js' %}"></script>
    <script src="{% static 'jquidragcollide/ui/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'jquidragcollide/ui/jquery.ui.mouse.js' %}"></script>
    <script src="{% static 'jquidragcollide/ui/jquery.ui.draggable.js' %}"></script>
    <script src="{% static 'jquidragcollide/jquery-collision.min.js' %}"></script>
    <script src="{% static 'jquidragcollide/jquery-ui-draggable-collision.min.js' %}"></script>
    <style>
      .floorplan-demo{
        border: solid;
        background-size:auto;
        object-fit: scale-down;
        margin: auto;
        position: relative
      }
      .furniture{
          border-radius: 0.1em;
      }

      #fp-container{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .ui-state-disabled {
        background-image: none;
        opacity: 0.8;
        pointer-events: auto;
      }
      /* .screen{
        width: 50%;
        border: solid;
        resize: both;
        overflow: auto;
      } */
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <nav hidden>
        <div class="nav-wrapper">
            <ul class="right">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>    
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
      <p id="fpWidth" hidden>{{floorplan.length}}</p>
      <p id="fpHeight" hidden>{{floorplan.width}}</p>
      <div class="floorplan-demo">
        <div id="fp-container">
        {% for furn in furnitures %}
              {% if furn.rotated == 1 %}
                <div id="f{{furn.id}}" class="draggable furniture ui-widget-content" style="width: {{furn.length | scale_furniture:floorplan.length}}; height: {{furn.width | scale_furniture:floorplan.width}}; background-color: yellow;">
                    {{furn.id}}
                    <button id="lf{{furn.id}}">Lock/Unlock</button>
                </div>
              {% elif furn.rotated == -1 %}
                <div id="f{{furn.id}}" class="draggable furniture ui-widget-content" style="width: {{ furn.width | scale_furniture:floorplan.length }}; height: {{ furn.length | scale_furniture:floorplan.width }}; background-color: yellow;">
                    {{furn.id}}
                    <button id="lf{{furn.id}}">Lock/Unlock</button>
                </div>
              {% endif %}
              <script>
                $( function(){
                  $('#f{{furn.id}}').draggable({containment: '.floorplan-demo'})
                })
              </script>

        {% endfor %}

        <p id="furniture-ids" hidden>
        {% for furn in furnitures %}
            #f{{furn.id}}
        {% endfor %}
        </p>
        <script>
            $( function(){
              $('#f{{furn.id}}').draggable({containtment: ".floorplan-demo", stop: function(event, ui){
                  localStorage.setItem('p{{floor.id}}f{{furn.id}}', JSON.stringify(ui.position))
                  }
               })
            })
        </script>
      </div>
    </div>

    <div>
        {% for furn in furnitures %}
            <div class="card">
                {{furn.type}}
                <a href="{% url 'furniture_update' furn.id %}" class="btn">Edit</a>
                <a href="{% url 'furniture_delete' furn.id %}" class="btn">Delete</a>
                <a href="{% url 'rotate' floorplan.id furn.id %}" class="btn">Rotate</a>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'furniture_create' %}" class="btn">Add Furniture</a>
    {% for f in furns %}
      <p>{{f.rotated}}</p>
    {% endfor %}
    {% block content %}
    {% endblock %}
    <script>
      $('#fp-container').css({'background-size':'calc(100% / {{floorplan.length}}) calc(100% / {{floorplan.width}})','background-image':'linear-gradient(to right, rgb(170, 170, 170) 1px, transparent 1px),linear-gradient(to bottom, rgb(170, 170, 170) 1px, transparent 1px)', 'background-color':'transparent'})
      
      console.log(JSON.parse(localStorage.getItem('p3f4') || "{}"))
      console.log(JSON.parse(localStorage.getItem('p3f5') || "{}"))
      furnIds = $('#furniture-ids').text()
      furnIds = furnIds.replace(/\r\n|\n| /g, '')
      furnIds = furnIds.split('#')
      furnIds.shift()
      furnIds.forEach((furn, idx)=>{
        $(`#${furn}`).dblclick(()=>{
          // $(`#${furn}`).css({'width':'20%', 'height':'20%'})
          window.location.href=`../floorplans/{{floorplan.id}}/furniture/${furn.slice(1)}/rotate/`
        })
        $(`#l${furn}`).click(()=>{
          if($(`#${furn}`).hasClass('ui-draggable-disabled')){
            unlock(furn)
          }else{
            lock(furn)
          }
            
        })
        $( function(){
          $(`#${furn}`).draggable({containtment: ".floorplan-demo", stop: function(event, ui){
            localStorage.setItem(`p{{floorplan.id}}${furn}`, JSON.stringify(ui.position))
           }})
        })
        if(JSON.parse(localStorage.getItem(`p{{floorplan.id}}${furn}`) || "{}").left !== null){
          $(`#${furn}`).css({'left': `${JSON.parse(localStorage.getItem(`p{{floorplan.id}}${furn}`) || "{}").left}px`, 'top': `${JSON.parse(localStorage.getItem(`p{{floorplan.id}}${furn}`) || "{}").top}px`, 'position':'absolute'})
        }
      })

      fpW = {{floorplan.length}}
      fpH = {{floorplan.width}}

      function resizeFloorPlan(){
        scrnW = window.innerWidth
        scrnH = window.innerHeight
        if((scrnW/scrnH) > (Number(fpW)/Number(fpH))){
          $('.floorplan-demo').css({'height' : '90vh', 'width': `${Number(fpW)/Number(fpH)*90}vh`})
        }else(
          $('.floorplan-demo').css({'width' : '90vw', 'height': `${Number(fpH)/Number(fpW)*90}vw`})
        )
      }
      resizeFloorPlan()
      $(window).resize(resizeFloorPlan)

      function lock(dragId){
        $(`#${dragId}`).draggable({disabled: true})
        // $('.ui-state-disabled').removeClass('ui-state-disabled')
      }
      function unlock(dragId){
        $(`#${dragId}`).draggable({disabled: false})
      }
      </script>
</body>

</html>