{% extends 'base.html' %}

{% block content %}
<div class="title border border-dark w-100 text-center">
    <h1>Detail</h1>
</div>
{% for fp in floorplan.photo_set.all %}

<img src="{{fp.url}}" alt="" class="responsive-img card-panel">

{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>

{% endfor %}

<form class="card-panel" action="{% url 'add_photo' floorplan.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br>
    <br>

    <input type="submit" value="upload floorplan" class="btn">

</form>

{% endblock %}