{% extends 'base.html' %}

{% block content%}
<header class = "navbar-fixed">
    <nav>
        <div class = "nav-wrapper">
            <ul>
                <li>
                    <a href=""> Home </a>
                </li>
                <li>
                    <a href="">Settings</a>
                </li>
                <li>
                    <a href=""> View Furniture </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<h1>FloorPlans List</h1>

<a href="" class="btn">+</a>

{% endblock %}