<!-- {% extends 'base.html' %}

{%content block %}
<header class = "navbar-fixed">
    <nav>
        <div class = "nav-wrapper">
            <ul>
                <li>
                    <a href=""> Home </a>
                </li>
                <li>
                    <a href="">Settings</a>
                </li>
                <li>
                    <a href=""> View Furniture </a>
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a href=""> Tool Tips</a>
                </li>
                <li>
                    <a href=""> Furniture </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>FloorPlan Details Page</h1>
<hr>
{% endblock %} -->


{% extends 'base.html' %}
<h1>detail</h1>

{% endblock %}


