.carousel { z-index: -99;}
.carousel-item {
    width: 10%;
    height: 10%;
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

.container{
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body{
    background-color: #5E96AE !important;
    background-image: -webkit-linear-gradient(25deg, #5E96AE 45%, #8fb2c2 45%);
}

.btn{
    font-family: 'Archivo', sans-serif;
    margin: 5px;
}