* {
    box-sizing: border-box;
    margin: 0;
}

.floorplan-demo {
    width: 20rem;
    height: 20rem;
    border: solid;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #5E96AE !important;
}

body {
    background-color: #5E96AE !important;
}

.navbar {
    align-self: flex-start;
    left: 0;
    top: 0;

}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    /* font-family: 'Archivo', sans-serif;
    color: #b33c8b; */


}

.home-buttons{
    display: flex;
    flex-direction: row;
}

.btn {
    font-family: 'Archivo', sans-serif;;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}