* {
    box-sizing: border-box;
    margin: 0;
}

.floorplan-demo{
    width: 20rem;
    height: 20rem;
    border: solid;
}

main{
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
button{
    margin: 0.5rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}